html{
    direction: rtl;
    scroll-behavior: smooth;
}
.global{
    --parag-color:#4A5565;
    --border-color:#E5E6E7;
    display: flex;
    position: relative;
}
body{
    margin: 0px;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
a , span {
    display: inline-block;
}
h1,p{
    margin: 0;
    font: 16px;
}
img{
    width: 100%;
}
.container{
    width: 95%;
    margin: auto;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.main{
    width: 85%;
    background-color: #F9FAFB;
}
/* -----------Right Navbar--------- */
.right-side{
    width: 15%;
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 12px 24px;
    border-left:2px solid #E6E7EB;
    box-shadow: -2px 0 10px #F3F4F5;
}
.rs-head{
    display: flex;
    align-items: center;
}
.rs-logo{
    width: 56px;
    height: 56px;
    background-image: linear-gradient(135deg,#2357F7,#3F37DD);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-left: 20px;
}
.rs-head-text{
    width: 50%;
}
.rs-head-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 36px;
}
.rs-head-text p{
    margin: 0;
    font-size: 12px;
    color: var(--parag-color);
    font-weight: bold;
}
.rs-logo img{
    width: 24px;
    object-fit: contain;
}
.rs-buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}
.rs-button1{
    background-color: #EEF6FF;
    color: #1447E6;
    padding: 12px 24px;
    border-radius: 14px;
    border: 1px solid #EAF3FE;
    font-weight: bold;
    display: flex;
    gap: 5px;
    margin: auto;
}
.rs-button1 img,.rs-button img,.rs-button2 img{
    width: 24px;
    object-fit: contain;
}
.rs-button{
    color: var(--parag-color);
    padding: 12px 24px;
    margin-top: 10px;
    border-radius: 14px;
    font-weight: bold;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 5px;
}
.rs-button:hover{
    background-color: #F9FAFB;
}
.rs-button2{
    color: var(--parag-color);
    padding: 12px 24px;
    margin-top: 10px;
    border-radius: 14px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 14px;
}
.rs-img2{
    background-color: #ECF2FF;
    border-radius: 8px;
    width: fit-content;
    padding: 8px;
}
.rs-img3{
    background-color: #EBFAEE;
    border-radius: 8px;
    width: fit-content;
    padding: 8px;
}
.rs-img4{
    background-color: #F0DFFC;
    border-radius: 8px;
    width: fit-content;
    padding: 8px;
}
.rs-img5{
    background-color: #FDE5D5;
    border-radius: 8px;
    width: fit-content;
    padding: 8px;
}
.rs-button2:hover{
    background-color: #F9FAFB;
    transform: translate(3px,0);
}
.rs-buttons p{
    margin-top: 40px;
    color: var(--parag-color);
    font-weight: bold;
}
/*--------------------left-main-head--------- */
.main-head {
    margin-top: 30px;
display: grid;
grid-template-columns: repeat(14, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.top-bar { 
    grid-area: 1 / 1 / 3 / 15; 
    border: 2px solid var(--border-color);
background-image: linear-gradient(90deg,#F5F8FC,#F2F7FC);
    border-radius: 24px;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rs-head2{
    display: flex;
    align-items: center;
} 
.rs-head2 h2{
    margin: 0;
    font-size: 40px;
}
.rs-head2 p{
    margin: 0;
    font-size: 16px;
    color: var(--parag-color);
}
.motasel{
    color: #008236;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #F0FDF4;
}
.green-circle{
    width: 6px;
    height: 6px;
    background-color: #78DF96;
    border-radius: 50%;
}
.top-bar-left{
    display: flex;
    gap: 10px;
    align-items: center;
}
.search{
border-radius: 12px;
border: 2px solid var(--border-color);
padding: 6px;
background-color: #F9FAFB;
transition: 0.2s;
position: relative;
}
.notify-red{
    width: 16px;
    height: 16px;
    background-color: #FB2B37;
    border-radius: 100%;
    position: absolute;
    top: -3px;
    right: -3px;
    font-size: 9px;
    color: white;
    text-align: center;
    font-weight: bold;
}
.search:hover{
    background-color: #F3F4F6;
}
.search img{
width:24px;
object-fit: contain;
}
.name{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border: 2px solid var(--border-color);
    border-radius: 16px;
    gap: 10px;
}
.name-text h5{
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}
.name-text p{
    color: var(--parag-color);
    font-size: 14px;
    font-weight: bold;
}
.name-img img{
    width: 54px;
    border-radius: 12px;
}
.body1 { grid-area: 4 / 11 / 7 / 15;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid var(--border-color);
    padding: 16px 24px; }
.body1 img{
    width: 14px;
    object-fit: contain;
 filter: brightness(0) saturate(100%) invert(13%) sepia(97%) saturate(5577%) hue-rotate(1deg) brightness(103%);
}

.body2 { grid-area: 4 / 6 / 7 / 10; 
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid var(--border-color);
    padding: 16px 24px;}

.body3 { 
    grid-area: 4 / 1 / 7 / 5; 
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid var(--border-color);
    padding: 16px 24px;
}
.body3 h3,.body1 h3, .body2 h3{
    margin: 0;
    font-size: 36px;
}
.body3-text p{
    margin: 0;
}
.body1-end{
        color: #E7000B;
    font-size: 18px;
    font-weight: bold;
}
.body3-end{
    color: #00A63D;
    font-size: 18px;
    font-weight: bold;
}
.body3 img,.body2 img{
    width: 14px;
    object-fit: contain;
    transform: rotateX(180deg);
}
/* ----------------main-content------------------ */
/* -------------------activities section------------- */
.main-content {  
    margin: 30px 0;
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "content-activity content-table content-table"
    "content-invoice content-table content-table";
}
.content-activity {
    background-color: #FFFFFF;
    border-radius: 24px;
    border: 2px solid var(--border-color);
    grid-area: content-activity; 
    padding: 12px;
}
.title-p{
    margin: 4px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.activity-cards{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-icon img{
    width: 24px;
    object-fit: contain;
}
.activity-card{
    background-color: #EEF6FF;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 14px;
    border-radius: 18px;
    margin: 10px 0;
    border-left: 4px solid #2B7FFF;
}
.card-middle h4{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
.card-middle h5{
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: var(--parag-color);
}
.card-middle p{
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    color: var(--parag-color);
}
.card-left p{
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    color: #165DFC;
}
.card-icon{
    background-color: #DBEAFF;
    border-radius: 50%;
    width: fit-content;

}
.icon-g-color{
    background-color: #DCFCE6;
}
.card-g-color{
    background-color: #F0FDF4;
}
.border-g-color{
    border-left: 4px solid #00C951;
}
.card-p-color p{
    color: #02C951;
}
.activity-cards hr{
    border: 0.5px solid #F7F8F9;
    width: 90%;
}
.activity-cards a{
    display: block;
    margin: auto;
    color: #165DFC;
    font-size: 14px;
    font-weight: bold;
    transition: 0.1s;
}
.activity-cards a:hover{
    color: #1447E6;
}
/* -------------invoices section---------- */
.content-invoice { 
    grid-area: content-invoice; 
   background-color: #FFFFFF;
    border-radius: 24px;
    border: 2px solid var(--border-color);
padding: 12px;
}
.invoices-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.invoices-head a{
    font-size: 14px;
}
.invoice-body {  
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "invoice-h invoice-h"
    "invoice-wid2 invoice-wid1"
    "invoice-wid4 invoice-wid3";
}
.invoice-body img{
    width: 18px;
    object-fit: contain;
}
.invoice-h { grid-area: invoice-h; 
display: flex;
flex-direction: column;
align-items: center;
}

.invoice-h h3{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.invoice-h p{
    margin:0;
    font-size: 14px;
    color: var(--parag-color);
}
.p1-wid{
    color: var(--parag-color);
    font-size: 14px;
}
.p2-wid{
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.p3-wid{
    color: #FF6900;
    font-size: 12px;
    font-weight: bold;
}
.p3-wid-red{
    color: #FB2B37;
}
.p3-wid-s{
    color: var(--parag-color);
}
.p3-wid-g{
    color: #00C951;
}
.invoice-wid1 { grid-area: invoice-wid1;
display: flex;
flex-direction: column;
align-items: center ;
background-color: #F9FAFB;
border-radius: 24px;
padding: 8px;
}
.wid-icon{
background-color: #FFF9C2;
padding: 4px;
width: fit-content;
border-radius: 10px;
}
.wid-icon2{
    background-color: #DBEAFF;
}
.wid-icon3{
    background-color: #FFE2E2;
}
.wid-icon4{
background-color: #DCFCE6;
}
.invoice-wid2 { grid-area: invoice-wid2;
display: flex;
flex-direction: column;
align-items: center;
background-color: #F9FAFB;
border-radius: 24px;
padding: 8px;
}

.invoice-wid3 { grid-area: invoice-wid3;
display: flex;
flex-direction: column;
align-items: center;
background-color: #F9FAFB; 
border-radius: 24px;
padding: 8px;}

.invoice-wid4 { grid-area: invoice-wid4;
display: flex;
flex-direction: column;
align-items: center;
background-color: #F9FAFB;
border-radius: 24px;
padding: 8px;
}
/* -------------table-section--------------------------- */
.content-table { grid-area: content-table; 
    background-color: #FFFFFF;
    border-radius: 24px;
    border: 2px solid var(--border-color);
    padding: 12px;
}
.content-table-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-table-head a{
    font-size: 14px;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin: 20px;
    font-size: 14px;
}
.w-30{
    width: 30%;
    height: 85px;
    text-align: start;
    border-bottom: 1px solid #F8F8F9;
    padding:16px 4px;
}
.w-4{
    width: calc(70%/4);
    height: 85px;
    text-align: start;
    border-bottom: 1px solid #F8F8F9;
    padding:16px 4px;
}
.main-row{
    display: flex;
    align-items: center;
    gap: 10px;
}
.row-icon{
    border-radius: 100%;
    padding: 4px;
}
.row-icon img{
    width: 24px;
    border-radius: 50%;
}
.icon-or{
    background-color: #FFEDD4;
}
.icon-bl{
    background-color: #DBEAFF;
}
.icon-red{
    background-color: #FFE2E2;
}
.icon-purp{
    background-color: #DFE7FF;
}
.icon-sky{
    background-color: #CEFAFE;
}
.icon-g{
    background-color: #D1FAE4;
}
.row-p-1{
    font-size: 12px;
    font-weight: bold;
}
.row-p-2{
    font-size: 10px;
    color: var(--parag-color);
    font-weight: bold;
}
.col2{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #DCFCE6;
    width: fit-content;
    padding: 2px 6px;
    border-radius: 12px;
}
.col2-icon img{
width: 16px;
object-fit: contain;
}
.col2-text{
    color: #016630;
    font-weight: bold;
    font-size: 12px;
}
.col2-t-color2{
    color: #9F2D00;;
}
.col2-t-color3{
    color: #193CB9;
}
.col2-t-color4{
    color: #8436BD;
}
.col2-t-color5{
    color: #9E0812;
}
.col2-t-color6{
    color: #3729AB;
}
.col2-t-color7{
    color: #015E78;
}
.col2-color2{
    background-color: #FFEDD4;
}
.col2-color3{
    background-color: #DBEAFF;
}
.col2-color4{
    background-color: #F3E7FF;
}
.col2-color5{
    background-color: #FFE2E2;
}
.col2-color6{
    background-color: #DFE7FF;
}
.col2-color7{
    background-color: #CEFAFE;
}
.col4{
    background-color: #DCFCE6;
    width: fit-content;
    padding: 2px 6px;
    border-radius: 12px;
}
.col4-text{
    color: #016630;
    font-weight: bold;
    font-size: 12px;
}
.col4-colornew{
    background-color: #FFF9C2;
}
.col4-t-colornew{
    color: #894B00;
}
.col5-text{
    color: #00A63D;
    font-weight: bold;
}
.col5-t-black{
    color: #111828;
}
.filter-1{
      filter: invert(18%) sepia(97%) saturate(1200%) hue-rotate(10deg) brightness(85%) contrast(105%);
}

/* ------------------charts section------------------ */