html{
    direction: rtl;
    scroll-behavior: smooth;
}
.global{
    --parag-color:#4A5565;
    --border-color:#E5E6E7;
    display: flex;
}
body{
    margin: 0px;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
a , span {
    display: inline-block;
}
h1,p{
    margin: 0;
    font: 16px;
}
img{
    width: 100%;
}
.container{
    width: 95%;
    margin: auto;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.main{
    width: 85%;
    background-color: #F9FAFB;
}
/* -----------Right Navbar--------- */
.right-side{
    width: 15%;
    height: 100vh;
    position: sticky;
    padding: 12px 24px;
    border-left:2px solid #E6E7EB;
    box-shadow: -2px 0 10px #F3F4F5;
}
.rs-head{
    display: flex;
    align-items: center;
}
.rs-logo{
    width: 56px;
    height: 56px;
    background-image: linear-gradient(135deg,#2357F7,#3F37DD);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-left: 20px;
}
.rs-head-text{
    width: 50%;
}
.rs-head-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 36px;
}
.rs-head-text p{
    margin: 0;
    font-size: 12px;
    color: var(--parag-color);
    font-weight: bold;
}
.rs-logo img{
    width: 24px;
    object-fit: contain;
}
.rs-buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}
.rs-button1{
    background-color: #EEF6FF;
    color: #1447E6;
    padding: 12px 24px;
    border-radius: 14px;
    border: 1px solid #EAF3FE;
    font-weight: bold;
    display: flex;
    gap: 5px;
    margin: auto;
}
.rs-button1 img,.rs-button img,.rs-button2 img{
    width: 24px;
    object-fit: contain;
}
.rs-button{
    color: var(--parag-color);
    padding: 12px 24px;
    margin-top: 10px;
    border-radius: 14px;
    font-weight: bold;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 5px;
}
.rs-button:hover{
    background-color: #F9FAFB;
}
.rs-button2{
    color: var(--parag-color);
    padding: 12px 24px;
    margin-top: 10px;
    border-radius: 14px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 14px;
}
.rs-img2{
    background-color: #ECF2FF;
    border-radius: 8px;
    width: fit-content;
    padding: 8px;
}
.rs-img3{
    background-color: #EBFAEE;
    border-radius: 8px;
    width: fit-content;
    padding: 8px;
}
.rs-img4{
    background-color: #F0DFFC;
    border-radius: 8px;
    width: fit-content;
    padding: 8px;
}
.rs-img5{
    background-color: #FDE5D5;
    border-radius: 8px;
    width: fit-content;
    padding: 8px;
}
.rs-button2:hover{
    background-color: #F9FAFB;
    transform: translate(3px,0);
}
.rs-buttons p{
    margin-top: 40px;
    color: var(--parag-color);
    font-weight: bold;
}
/*--------------------left-main----------- */
.main-head {
    margin-top: 30px;
display: grid;
grid-template-columns: repeat(14, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.top-bar { 
    grid-area: 1 / 1 / 3 / 15; 
    border: 2px solid var(--border-color);
background-image: linear-gradient(90deg,#F5F8FC,#F2F7FC);
    border-radius: 24px;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rs-head2{
    display: flex;
    align-items: center;
} 
.rs-head2 h2{
    margin: 0;
    font-size: 40px;
}
.rs-head2 p{
    margin: 0;
    font-size: 16px;
    color: var(--parag-color);
}
.motasel{
    color: #008236;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #F0FDF4;
}
.green-circle{
    width: 6px;
    height: 6px;
    background-color: #78DF96;
    border-radius: 50%;
}
.top-bar-left{
    display: flex;
    gap: 10px;
    align-items: center;
}
.search{
border-radius: 12px;
border: 2px solid var(--border-color);
padding: 6px;
background-color: #F9FAFB;
transition: 0.2s;
}
.search:hover{
    background-color: #F3F4F6;
}
.search img{
width:24px;
object-fit: contain;
}
.name{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border: 2px solid var(--border-color);
    border-radius: 16px;
    gap: 10px;
}
.name-text h5{
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}
.name-text p{
    color: var(--parag-color);
    font-size: 14px;
    font-weight: bold;
}
.name-img img{
    width: 54px;
    border-radius: 12px;
}
.body1 { grid-area: 4 / 11 / 7 / 15;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid var(--border-color);
    padding: 16px 24px; }
.body1 img{
    width: 14px;
    object-fit: contain;
 filter: brightness(0) saturate(100%) invert(13%) sepia(97%) saturate(5577%) hue-rotate(1deg) brightness(103%);
}

.body2 { grid-area: 4 / 6 / 7 / 10; 
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid var(--border-color);
    padding: 16px 24px;}

.body3 { 
    grid-area: 4 / 1 / 7 / 5; 
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid var(--border-color);
    padding: 16px 24px;
}
.body3 h3,.body1 h3, .body2 h3{
    margin: 0;
    font-size: 36px;
}
.body3-text p{
    margin: 0;
}
.body1-end{
        color: #E7000B;
    font-size: 18px;
    font-weight: bold;
}
.body3-end{
    color: #00A63D;
    font-size: 18px;
    font-weight: bold;
}
.body3 img,.body2 img{
    width: 14px;
    object-fit: contain;
    transform: rotateX(180deg);
}
